{% extends "base.html" %}
{% load magazine_extras %}
{% block content %}
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Purchase</th>
        </tr>
        </thead>
        <tbody>
        {% for magazine in magazines %}
            <tr>
                <td>{{ magazine.name }}</td>
                <td>{{ magazine.description }}</td>
                <td>${{ magazine.price }}</td>
{#            TODO: FIX THIS WHOLE THING!!!#}
                {% if purchases.subscription_end %}
                    <td>You're subscribed already!</td>
                {% else %}
                    <td>{% paypal_form_for magazine user %}</td>

                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% for purchase in purchases %}
        <p>{{ purchase.subscription_end }}</p>
    {%  endfor %}
{% endblock %}