{% extends "base.html" %}
{% load magazine_extras %}
{% block content %}
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Image</th>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Purchase</th>
        </tr>
        </thead>
        <tbody>
        {% for magazine in magazines %}
            <tr>
                {% if magazine.image %}
                    <td><img src="/media/{{ magazine.image }}" class="magazine-pic"></td>
                {% endif %}
                <td><strong>{{ magazine.name }}</strong></td>
                <td>{{ magazine.description }}</td>
                <td>${{ magazine.price }}</td>
                <td>{% paypal_form_for magazine user %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}