{% extends "base.html" %}
{% block content %}
    <h2>Success!</h2>
    <p>Welcome back {{ user.email }} </p>
    <p>Your last login was: {{ user.previous_login }}</p>
    <p>You joined: {{ user.date_joined }}</p>
    {% if user.image %}
        <p>Profile Picture:</p>
        <img src="/media/{{ user.image }}" class="profo-pic"/>
    {% endif %}
    <br><br>
    <button class="btn btn-success" onclick="location.href='editprofile'">Edit Profile</button>
    <br><br>
    <h4>Subscriptions</h4>
    {% if purchases %}

        {% for purchase in purchases %}

            <p> Your subscription to {{ purchase.magazine }} ends: {{ purchase.subscription_end }}</p>

        {% endfor %}

    {% else %}

        <h3>You have no active subscriptions</h3>

    {% endif %}

{% endblock %}