{% extends "base.html" %}
{% load thread_extras %}
{% block content %}
    {% load bootstrap_tags %}
    {% for subject in subjects %}
        <hr>
        <section class="subject"  style="background-color:#d6ebf2;  padding:15px 0px; text-align:center">

            <h2><a href="{% url "threads" subject.id %}"  style="text-decoration:underline;">
                {{ subject.name }}
            </a></h2>

            <p><a href="{% url "threads" subject.id %}">
                {% autoescape off %}{{ subject.description }}{% endautoescape %}
            </a></p>

            <table align="center">
                <tr>
                    <th style="padding-right:20px;">THREADS</th>
                    <th>POSTS</th>
                </tr>
                <tr>
                    <td>{{ subject.threads.count }}</td>
                    <td>{{ subject|get_total_subject_posts }}</td>
                </tr>
            </table>

        </section>

    {% endfor %}

{% endblock %}