{% load thread_extras %}
<section class="thread">
    <header>
        <table>
            <tr>
                <td>
                    <a href="{% url 'thread' thread.id %}">
                        <h4>{{ thread.name }}</h4>
                        <p><strong>POSTS:</strong> {{ thread.posts.count }}</p>
                    </a>
                </td>
                <td>
                    <div class="col-sm-12">
                        <table class="table">
                            <tbody>
                            <tr>
                                <th>CREATED</th>
                                <th>OWNER</th>
                                <th>LAST POST</th>
                            </tr>
                            <tr>
                                <td>
                                    <time datetime="{{ thread.created_at }}">
                                        {{ thread.created_at| started_time }}
                                    </time>
                                </td>
                                <td>{{ thread.user }}</td>
                                <td>{% last_posted_user_name thread %}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
        </table>
    </header>
</section>